
body {
    background: #fff;
}
.text-bg {
    width: 800px;
    font-size: 70px;
    font-weight: bold;
    background: url(../demoImage/sea.jpg);
    /* 仅仅适用于 */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}